/* Google Maps API: AIzaSyAtap03GjNu1Ps5FvZyy-GI84ZX1qdvI9c */

/* resets */

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*, *:before, *:after {
  box-sizing: inherit;
}

a {
  text-decoration: none;
  color: white;
}

a:hover {
  text-decoration: none;
  color: white;
}

a:visited {
  text-decoration: none;
  color: white;
}

/* Basic Layout */

html {
  height: 100%;
  width: 100%;
}

/* main */

main {
  width: 100%;
  background-color: #ededed;
  padding-bottom: 1em;
}

.main-wrapper section {
  padding: 4em 0;
}

.section-wrapper {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
}

.social, .menu-sec {
  text-align: center;
}

.social .section-content-wrapper {
  align-items: stretch;
}


  /* Menu */

  .menu-main {
    text-align: center;
    padding: 4em 0 8em;
  }

  .menu-selection {
    background-color: #D5D5D5;
  }

  .menu-wrapper header aside {
    margin-bottom: 0.5rem;
  }

  .menu-app-nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .menu-app-nav-cat {
    position: relative;
    z-index: 1;
    width: 5.5em;
    height: 2.75em;

    -webkit-transition: 0.3s ease;
      -moz-transition: 0.3s ease;
      -ms-transition: 0.3s ease;
      -o-transition: 0.3s ease;
      transition: 0.3s ease;
  }

  .title-container {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
  }

  .category-container {
    cursor: pointer;
    display: block;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
  }

  .menu-app-nav-cat ul {
    position: relative;
    left: 0;
    top: 2.75em;
    overflow: hidden;
    list-style: none;
    padding: 0;
    margin: 0;
    width: 5.5em;
    z-index: 3;
  }

  .menu-app-nav-cat li {
    padding: 0.5em 0;
    color: #fff;
    border-top: 2px solid #fff;

    cursor: pointer;
    -webkit-transition: 0.3s ease;
      -moz-transition: 0.3s ease;
      -ms-transition: 0.3s ease;
      -o-transition: 0.3s ease;
      transition: 0.3s ease;
  }

  .menu-app-nav-cat li:hover {
    color: #000;
    background-color: #CAA073;
  }

  .menu-selected::after {
    position: absolute;
    pointer-events: none;
    content: ' ';
    width: 5.5em;
    height: 2.75em;
    top: 0;
    left: 0;
    border: 4px solid #BD8951;
  }

  .selection-decor {
    position: relative;
    bottom: -2.6em;
    left: 50%;
  }

  .selection-decor svg {
    position: absolute;
    right: 50%;
  }

  .menu-body-category {
    position: relative;
    z-index: 0;
    overflow: hidden;
  }

  .menu-body-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding: 1.5em 0;
    overflow: hidden;
  }

  .item-card {
    width: 80%;
    text-align: left;
  }

  .item-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .item-name {
    margin: 0;
    font-size: 1.2rem;
  }

  .item-volume {
    color: #000;
    font-size: 1.2rem;
    margin-left: 1em;
  }

  .cocktails-volume,
  .whiskey-volume,
  .alkohole-volume {
    display: none;
  }

  .item-filler {
    flex: 1;
    border: 0;
    border-bottom: dotted 2px silver;
    margin-left: .5em;
    margin-right: .5em;
  }

  .item-price {
    margin: 0;
    color: #BD8951;
    font-size: 1.25rem;
    margin-left: auto;
  }

  .item-desc {
    display: none;
    width: 150px;
  }

  .cocktails-desc {
    display: inherit
  }

  .item-desc p {
    margin: 0.5em 0 1em;
  }

  .item-deco {
    display: none;
  }

  .item-graphic {
    display: none;
  }

  .deco-sides,
  .deco-left-side,
  .deco-right-side,
  .top-deco {
    display: none;
  }

  @media(min-width: 576px) {
      .menu-selection {
        padding: 1em;
      }

      .menu-app-nav-cat,
      .menu-app-nav-cat ul,
      .menu-selected::after {
        width: 6em;
      }

      .menu-selected::after {
        border-width: 6px;
      }

      .menu-body-content {
        position: relative;
        display: grid;
        grid-template-columns: 1fr 1fr;
        padding: 1.5em;
        z-index: 0;

        background-size: auto;
      }

      .piwo-body-content,
      .wino-body-content,
      .whiskey-body-content,
      .alkohole-body-content {
        position: relative;
        display: flex;
        flex-direction: column;
        max-width: 400px;
        margin: 4em auto;
        padding: .5em 0 1em;
        overflow: visible;
        z-index: 3;
      }

      .wino-body-content,
      .whiskey-body-content,
      .alkohole-body-content {
        margin: 4em auto;
        max-width: 450px;
      }

      .whiskey-body-content,
      .alkohole-body-content {
        max-width: 900px;
        margin-top: 0;
      }


      .item-card {
        display: flex;
        position: relative;
        z-index: 1;
        flex-direction: column;
        height: 175px;
        padding: 1em;
        margin: 1em auto;
        background-color: rgba(213, 213, 213, 0.6);
      }

      .piwo-card,
      .wino-card,
      .whiskey-card,
      .alkohole-card {
        height: auto;
        margin: 0;
        padding: .5em 2em 0;
        background-color: rgba(213, 213, 213, 0.6);
        z-index: 2;
      }

      .item-desc {
        width: 150px;
      }

      .cocktails-deco {
        display: block;
        margin-top: auto;
        height: 20px;
        width: 90%;
      }

      .item-graphic {
        display: block;
        position: absolute;
        height: 450px;
        z-index: 0;

        bottom: 0;
        right: 1em;
        pointer-events: none;
      }

      .piwo-butelka-graphic {
        height: 350px;
        bottom: -20px;
        right: -10vw;
      }

      .piwo-butelka-graphic-add {
        height: 200px;
        bottom: -20px;
        left: -10vw;
      }

      .piwo-lane-graphic {
        height: 175px;
        bottom: -40px;
        right: -10vw;
      }

      .piwo-lane-graphic-add {
        height: 150px;
        bottom: -40px;
        left: -10vw;
      }

      .wino-czerwone-białe-graphic,
      .wino-champagne-graphic {
        bottom: -40px;
        height: 200px;
        right: -10vw;
      }

      .wino-czerwone-białe-graphic-add,
      .wino-champagne-graphic-add {
        display: block;
        bottom: -40px;
        height: 200px;
        left: -15vw;
      }

      .deco-left-side,
      .deco-right-side {
        display: block;
        position: absolute;
        height: 90%;
        top: 5%;
      }

      .deco-left-side {
        left: 5%;
      }

      .deco-right-side {
        right: 5%;
      }

      .deco-left-side-fix,
      .deco-right-side-fix {
        height: 80%;
      }

      .deco-left-side-fix {
        left: -5%;
      }

      .deco-right-side-fix {
        right: -5%;
      }

      .deco-left-side svg,
      .deco-right-side svg {
        height: 100%;
      }

      .top-deco {
        display: block;
        max-width: 50%;
        max-height: 50px;
      }
  }

  @media(min-width: 768px) {
    .menu-app-nav {
      margin-top: 1.5em;
    }

    .menu-app-nav-cat {
      margin-left: 1em;
    }

    .item-desc {
      width: 225px;
    }

    .item-deco {
      height: 35px;
    }

    .piwo-butelka-graphic {
      height: 450px;
      right: -12.5vw;
    }

    .piwo-butelka-graphic-add {
      height: 250px;
      bottom: -20px;
      left: -15vw;
    }

    .piwo-lane-graphic {
      height: 220px;
      right: -17vw;
    }

    .piwo-lane-graphic-add {
      height: 200px;
      bottom: -40px;
      left: -14vw;
    }

    .wino-czerwone-białe-graphic,
    .wino-champagne-graphic {
      bottom: -40px;
      height: 350px;
      right: -10vw;
    }

    .wino-champagne-graphic {
      height: 250px;
    }

    .wino-czerwone-białe-graphic-add,
    .wino-champagne-graphic-add {
      height: 200px;
      left: -10vw;
    }
  }


  @media(min-width: 1024px) {
    .menu-selection {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: space-between;
    }

    .menu-wrapper header aside {
      text-align: left;
      margin-left: 2em;
    }

    .menu-app-nav-cat,
    .menu-app-nav-cat ul,
    .menu-selected::after {
      width: 8em;
    }
  }

  @media(min-width: 1300px) {
    .menu-app-nav-cat,
    .menu-app-nav-cat ul,
    .menu-selected::after {
      width: 9em;
    }
  }
/* Typography */

@font-face {
  font-family: "Amarante";
  src: url("./fonts/Amarante-Regular.woff") format('woff'),
       url("./fonts/Amarante-Regular.otf") format('opentype'),
       url("./fonts/Amarante-Regular.ttf") format('truetype');
  font-weight: 100;
}

@font-face {
  font-family: "MinionPro";
  src: url("./fonts/MinionPro-Regular.woff") format('woff'),
       url("./fonts/MinionPro-Regular.otf") format('opentype'),
       url("./fonts/MinionPro-Regular.ttf") format('truetype');
}

html {
  font-size: 0.625em;
}

body {
  font-family: "Amarante", "Times New Roman", serif;
  font-weight: 400;
  line-height: 1.45;
}

p {
  font-family: "MinionPro", arial, serif;
  margin-bottom: 1.3em;
  color: #000;
}

header p {
  color: #fff;
}

li p {
  margin-bottom: 0;
}

.event-details p {
  margin: 0 10px;
  color: #fff;

  -webkit-transition: 0.3s ease;
    -moz-transition: 0.3s ease;
    -ms-transition: 0.3s ease;
    -o-transition: 0.3s ease;
    transition: 0.3s ease;
}

.event-details:hover p {
  color: #BD8951;
}

.contact-details p {
  color: #fff;
}

.post-txt p {
  margin-bottom: 0.5em;
}

.text p {
  margin-left: 1em;
}

h1, h2, h3, h4 {
  margin: 1.414em 0 0.5em;
  font-weight: inherit;
  line-height: 1.2;
  color: #BD8951;
}

.text h1, .text h2, .text h4 {
  color: #000;
}

header h4 {
  color: #fff;
}

h1 {
  margin-top: 0;
  font-size: 3.998em;
}

.test {
  margin-bottom: 1rem;
}

h2 {
  font-size: 2.827em;
}

.post-title {
  text-align: center;
  margin-top: 0;
}

.post-list-title {
  margin: 0.25em 0 0.5em;

  -webkit-transition: 0.3s ease;
    -moz-transition: 0.3s ease;
    -ms-transition: 0.3s ease;
    -o-transition: 0.3s ease;
    transition: 0.3s ease;
}

.post-list-title:hover {
  color: #000;
}

h3 {
  font-size: 1.999em;
}

.offer h3, .contact-details h3 {
  margin: 0;
  padding: 1.5em 0;
  color: #fff;
}

.contact-details h3 {
  padding-bottom: 0.5em;
}

.events h3 {
  margin: 0;
  color: #fff;
}

.event-desc a h3 {
  -webkit-transition: 0.3s ease;
    -moz-transition: 0.3s ease;
    -ms-transition: 0.3s ease;
    -o-transition: 0.3s ease;
    transition: 0.3s ease;
}

.event-desc a:hover h3 {
  color: #BD8951;
}

h4 {
  font-size: 1.2em;
  margin: 0.5em 0;
}

.menu-content h4 {
  font-size: 1.3em;
  margin: 0;
}

.event-brief h5 {
  color: #fff;
  font-size: 2.3em;
  margin: 0;
}

.category-title {
  letter-spacing: .1em;
  line-height: 0.1em;
  padding: 0;

  cursor: pointer;
}

.sub-category-title {
  cursor: pointer;
}

.menu-body-title {
  font-size: 1.75em;
  padding: 1em 0 0;
  margin: 0;
}

h6 {
  color: #666;
  margin: 0;
  padding: 0;
}

.offer h6, .events h6 {
  color: #d2d2d2;
}

.event-brief h6 {
  color: #fff;
}

small, .font_small {
  font-size: 0.707em;
}

@media (min-width: 576px) {
  html {
    font-size: 0.813em;
  }
}

@media (min-width: 768px) {
  html {
    font-size: 1em;
  }
}
